In [36]:
# Import required packages
import pandas as pd
import numpy as np

In [37]:
# Variables to tweak for data creation
np.random.seed(0)
sample_size = 10

In [38]:
# Read data into environment
# See name_data_explaination for data collection methods
# AIAN - American Indian or Alaskan Native
# API - Asian Pacific Islander
last_names = pd.read_csv('data/common_surnames_census_2000.csv').rename(columns={'pct2prace': 'pctmixed'})
first_names = pd.read_csv('data/ssa_names_db.csv')

In [39]:
# Data preprocessing for Last Names

# Fields suppressed for confidentiality are assigned the value (S). 
# Replace confidentiality value with 0
# Prevents conflicts when finding max(percentages)
last_names2 = last_names.replace('(S)', 0.00)

# Convert percentage columns from strings to floats
for column in last_names2.columns[1:]:
    if last_names2[column].dtype == 'object':
        last_names2[column] = last_names2[column].astype(float)

# Create new column based on the ethnicity label with highest probability
last_names2['predominant'] = last_names2.iloc[:,5:].idxmax(1).str.replace('pct', '')

# Sample evenly through each unique dominant ethnicity
# Prevents most names being white and promotes even representation
last_names_final = last_names2.groupby('predominant').apply(lambda ethnicity: ethnicity.sample(sample_size)).reset_index(drop=True)

In [ ]:
# Potential other way of handling confidentiality
# 27,649 Names after removal
'''
t = last_names.replace('(S)', None)
t.dropna()
'''

In [40]:
# Data preprocessing for First Names
# Multiply sample_size by 3 to keep same dimension as Last Names
# 6 Ethnicities / 2 Genders
first_names_final = first_names.groupby('gender').apply(lambda gender: gender.sample(sample_size*3)).reset_index(drop=True)

In [41]:
# Creating Full Names dataset
# Extract relevant features from First and Last Name datasets
fnames = first_names_final.iloc[:,0]
lnames = last_names_final.iloc[:,0].str.capitalize()
ffeatures = first_names_final.iloc[:,1]
lfeatures = last_names_final.iloc[:,5:]
# Join all features together in final dataset
full_names = pd.concat([fnames,lnames,lfeatures,ffeatures], axis= 1)

In [42]:
full_names

,name,name,pctwhite,pctblack,pctapi,pctaian,pctmixed,pcthispanic,predominant,gender
0,Thyme,Jimmie,27.89,7.32,0.00,60.85,1.41,2.54,aian,F
1,Cathryn,Buffalohead,8.62,0.00,0.00,84.48,5.17,0.00,aian,F
2,Yaneisy,Jimmy,17.13,6.42,7.95,59.94,2.75,5.81,aian,F
3,Elleanor,Decora,36.94,0.00,2.25,52.70,4.95,3.15,aian,F
4,Aunna,Custalow,26.72,14.12,0.00,49.62,7.63,0.00,aian,F
5,Daisymae,Silversmith,28.88,0.00,0.00,65.80,3.30,2.01,aian,F
6,Libbie,Prettyweasel,0.00,0.00,0.00,99.04,0.00,0.00,aian,F
7,River,Walkingstick,24.63,0.00,0.00,62.61,8.61,4.15,aian,F
8,Lakeisha,Whitetree,34.29,0.00,0.00,59.05,4.76,0.00,aian,F
9,Katrina,Bigboy,14.06,0.00,0.00,82.03,0.00,0.00,aian,F
10,Lana,Panganiban,7.34,0.00,84.94,0.00,4.34,2.32,api,F
11,Jakenya,Seol,15.67,0.00,82.09,0.00,0.00,0.00,api,F
12,Taniya,Maqsood,6.78,0.00,75.14,0.00,17.51,0.00,api,F
13,Savy,Adona,21.74,2.17,49.64,0.00,11.23,15.22,api,F
14,Addysyn,Nguyentran,0.00,0.00,94.70,0.00,0.00,0.00,api,F
15,Violetta,Lau,17.42,0.21,76.56,0.10,2.97,2.73,api,F
16,Loki,Louie,8.17,3.42,80.75,1.35,4.32,1.99,api,F
17,Taryn,Nabi,38.55,0.00,39.56,0.00,16.47,2.81,api,F
18,Samika,Caguioa,0.00,0.00,92.17,0.00,0.00,4.35,api,F
19,Patty,Owyang,0.00,0.00,94.16,0.00,3.78,0.00,api,F
20,Emyiah,Sawney,10.82,40.26,0.00,39.83,5.19,0.00,black,F
21,Aixa,Sesay,1.47,87.72,0.00,0.69,9.60,0.00,black,F
22,Jailani,Odems,4.70,93.59,0.00,0.00,0.00,0.00,black,F
23,Giovannina,Muschett,44.34,45.28,0.00,0.00,4.72,5.66,black,F
24,Kaijah,Moragne,18.50,76.26,0.00,0.00,2.24,2.99,black,F
25,Cloris,Sconiers,21.26,73.92,0.00,0.00,1.33,2.33,black,F
26,Kassady,Samules,26.21,63.11,0.00,0.00,4.85,0.00,black,F
27,Millena,Lusane,0.00,91.13,0.00,0.00,4.43,0.00,black,F
28,Kimani,Mcmilliam,33.63,64.60,0.00,0.00,0.00,0.00,black,F
29,Gabryelle,Bundage,0.00,96.02,0.00,0.00,0.00,0.00,black,F
30,Saavan,Noya,26.94,0.00,6.67,0.00,3.33,61.11,hispanic,M
31,Ramel,Anez,40.33,0.00,1.97,0.00,1.64,55.08,hispanic,M
32,Shourya,Echegoyen,6.27,0.00,0.00,0.00,0.00,92.16,hispanic,M
33,Brandon,Cardona,7.30,0.42,0.93,0.11,0.59,90.65,hispanic,M
34,Barron,Cerecedes,12.92,0.00,0.00,0.00,0.00,87.08,hispanic,M
35,Lord,Urvina,11.92,0.00,0.00,0.00,0.00,86.05,hispanic,M
36,Vinh,Aloma,17.86,0.00,0.00,0.00,0.00,80.71,hispanic,M
37,Mayson,Garsa,3.85,0.00,0.00,0.00,0.00,92.31,hispanic,M
38,Dmario,Sendejo,4.42,1.10,0.00,0.00,0.00,94.11,hispanic,M
39,Jackman,Balaguer,24.51,1.30,6.07,0.00,0.00,68.11,hispanic,M
40,Thai,Kalicharan,0.00,26.92,21.15,0.00,42.31,7.05,mixed,M
41,Hawk,Permaul,4.28,18.29,33.07,1.95,38.13,4.28,mixed,M
42,Milad,Ramnarine,4.43,15.67,35.96,1.67,36.55,5.71,mixed,M
43,Kendrell,Jadoo,6.09,13.91,33.04,0.00,39.13,0.00,mixed,M
44,Blayden,Mohamad,30.72,12.85,15.36,0.54,33.77,6.75,mixed,M
45,Dwyane,Budhu,2.74,15.66,31.70,5.48,41.88,2.54,mixed,M
46,Ermias,Ramdeo,0.00,17.39,29.64,2.77,47.43,0.00,mixed,M
47,Jamani,Ahlo,9.85,0.00,37.88,0.00,42.42,9.85,mixed,M
48,Emere,Sattaur,0.00,9.59,36.99,0.00,43.84,6.85,mixed,M
49,Jaryd,Daveiga,29.41,20.10,0.00,0.00,39.71,9.80,mixed,M
50,Mattew,Lapinskas,95.10,0.00,0.00,0.00,4.90,0.00,white,M
51,Elijah,Lograsso,96.42,0.00,0.00,0.00,1.09,2.02,white,M
52,Dimitrius,Bartkowski,97.72,0.00,0.00,0.00,0.00,1.30,white,M
53,Salmaan,Rigotti,94.30,0.00,0.00,0.00,0.00,0.00,white,M
54,Drue,Seate,93.47,6.53,0.00,0.00,0.00,0.00,white,M
55,Zandyr,Muster,96.07,0.00,0.00,0.00,1.45,1.03,white,M
56,Dayson,Bacchetta,92.48,0.00,0.00,0.00,0.00,0.00,white,M
57,Braydin,Constans,91.60,0.00,0.00,0.00,0.00,0.00,white,M
58,Daymond,Kallaus,98.10,0.00,0.00,0.00,0.00,0.00,white,M
59,Remiel,Mahmoodi,53.33,0.00,11.11,0.00,30.37,5.19,white,M

In [57]:
t = last_names.replace('(S)', None)

In [59]:
t.dropna()

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pctmixed,pcthispanic
0,SMITH,1,2376206,880.85,880.85,73.35,22.22,0.40,0.85,1.63,1.56
1,JOHNSON,2,1857160,688.44,1569.30,61.55,33.80,0.42,0.91,1.82,1.50
2,WILLIAMS,3,1534042,568.66,2137.96,48.52,46.72,0.37,0.78,2.01,1.60
3,BROWN,4,1380145,511.62,2649.58,60.71,34.54,0.41,0.83,1.86,1.64
4,JONES,5,1362755,505.17,3154.75,57.69,37.73,0.35,0.94,1.85,1.44
...,...,...,...,...,...,...,...,...,...,...,...
151661,ZAPKA,150436,100,0.04,89753.23,99.00,0.00,0.00,0.00,0.00,0.00
151662,ZELDES,150436,100,0.04,89753.26,99.00,0.00,0.00,0.00,0.00,0.00
151664,ZIEGELHOFER,150436,100,0.04,89753.34,99.00,0.00,0.00,0.00,0.00,0.00
151665,ZIELESCH,150436,100,0.04,89753.37,99.00,0.00,0.00,0.00,0.00,0.00
151670,ZUSI,150436,100,0.04,89753.56,99.00,0.00,0.00,0.00,0.00,0.00

In [ ]:
# Getting OpenAI API ready
import openai

openai.api_key = open('key/Group13_Project_API_Key.txt').read().strip('\n')

text = ''

# Only uncomment when ready to start data collection

# completion = openai.ChatCompletion.create(
#   model="gpt-3.5-turbo", # this is "ChatGPT" $0.002 per 1k tokens
#   messages=[{"role": "user", "content": text}]
# )

# reply_content = completion.choices[0].message.content